<h1>{{title}}</h1>
<p>欢迎使用 {{title}}</p>

<form action="/follow" method="post">
    <label for="name">姓名：</label><input id="name" type="text">
    <br>
    <label for="phone">手机号：</label><input id="phone" type="text">
    <br>
    <input type="submit" value="关注">
</form>
